.main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  padding: 3rem;
  position: relative;
}

.main p {
  max-width: 25em;
}



.info h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: .5rem;
}

.info button {
  display: block;
  margin: 2rem auto 0 auto;
}

@media screen and (min-width: 960px) {
  .index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .info h1 {
    font-size: 2rem;
    text-align: unset;
  }

  .info button {
    margin: unset;
    margin-top: 2rem;
  }
}