.main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  padding: 3rem;
  position: relative;
}

.main p {
  max-width: 25em;
}

.wrapper {
  width: 300px;
  height: 300px;
  position: relative;
}